@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Besley';
  src: url("../assets/fonts/Besley.ttf");
}

@font-face {
  font-family: 'Syne';
  src: url("../assets/fonts/Syne.ttf");
}

@media only screen and (max-width: 937px) {
	header .responsive_nav {
		transform: translateY(100vh);
		visibility: visible;
	}
	header .close_nav {
		transform: translateY(-100vh);
	}
}

@media only screen and (min-width: 938px) {
	header .responsive_nav{
		visibility: visible;
		opacity: 1;
		transform: translateY(70px);
	}
}

.base{
	@apply flex flex-col items-center;
}

.aboutText{
	@apply relative top-[70px] md:top-[40px] lg:top-[70px] 2xl:top-[110px]
}

.sectionLabel{
	@apply font-besley text-4xl lg:text-5xl 2xl:text-[60px] font-medium underline underline-offset-8 pb-1
}